.header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 0 24px;
}

.buttonsMenu {
  align-self: center;
  color: var(--on-background);
  background-color: var(--background);
}

.imgMenu {
  width: 40px;
  border-radius: 40px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
