.header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 0 24px;
}

.buttonsMenu {
  align-self: center;
  color: var(--cor-fonte-secundaria);
  background-color: var(--branco);
}

.accountMenu {
  font-size: 40px;
  height: 40px;
  width: 40px;
}
