<h1 class="title">Hello, user, ready for some trivia? Choose your level.</h1>
<div class="buttonsList">
  <button mat-raised-button class="buttons" routerLink="/question">
    Easy
    <span></span> <span></span> <span></span> <span></span>
  </button>

  <button mat-raised-button class="buttons" routerLink="/question">
    Medium
    <span></span> <span></span> <span></span> <span></span>
  </button>
  <button mat-raised-button class="buttons" routerLink="/question">
    Hard
    <span></span> <span></span> <span></span> <span></span>
  </button>
</div>
