<h1 class="title">
  Welcome! Are you ready to test your knowledge? Get ready to tackle some
  challenging questions. <br />
  You have the option to choose between three difficulty levels: easy, medium,
  and hard. The quiz covers a wide range of categories, so there's something for
  everyone. <br />
  This interactive quiz application has been developed using Angular,
  TypeScript, and CSS, providing a seamless user experience. Let's dive in and
  see how well you can score!
</h1>
<div class="buttonsList">
  <button class="buttons" routerLink="/difficulty">
    Start
    <span></span> <span></span> <span></span> <span></span>
  </button>
</div>
