mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 40vw;
  background-color: var(--lilas);
}

.sideNav {
  display: flex;
  flex-direction: column;
}

.menuItems {
  padding: 16px;
  font-weight: bold;
}
