mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 40vw;
  background-color: var(--azul);
}

.sideNav {
  display: flex;
  flex-direction: column;
}

.menuItems {
  color: var(--cor-fonte-secundaria);
  padding: 16px 24px;
  font-weight: bold;
  text-decoration: none;
}

.menuItems:hover {
  color: var(--branco);
  background-color: var(--lilas);
}
