mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 40vw;
  background-color: var(--primary);
}

.body {
  background-color: var(--background);
}

.sideNav {
  display: flex;
  flex-direction: column;
}

.menuItems {
  color: var(--on-background);
  padding: 16px 24px;
  font-weight: bold;
  text-decoration: none;
}

.menuItems:hover {
  color: var(--branco);
  background-color: var(--lilas);
  transition: 1s;
}

.activeLink {
  background-color: var(--background);
}
