<h1 class="title">{{ Question!.question.text }}</h1>
<div class="buttonsList">
  <button mat-raised-button routerLink="/question" class="buttons">
    {{ Question?.correctAnswer }}
    <span></span> <span></span> <span></span> <span></span>
  </button>
  <button mat-raised-button routerLink="/question" class="buttons">
    {{ Question!.incorrectAnswers[0] }}
    <span></span> <span></span> <span></span> <span></span>
  </button>
  <button mat-raised-button routerLink="/question" class="buttons">
    {{ Question!.incorrectAnswers[1] }}
    <span></span> <span></span> <span></span> <span></span>
  </button>
  <button mat-raised-button routerLink="/question" class="buttons">
    {{ Question!.incorrectAnswers[2] }}
    <span></span> <span></span> <span></span> <span></span>
  </button>
  <button mat-raised-button routerLink="/question" class="buttons out">
    <mat-icon>close</mat-icon>
  </button>
</div>
