.out {
  width: 5em;
  background-color: var(--vermelho);
  color: var(--branco);
  border: none;
}

.out:hover {
  transform: scale(1.05);
}

.activeWrong {
  background-color: var(--vermelho);
}

.activeRight {
  background-color: var(--verde);
}
