<h1 class="title">Lorem ipsum dolor?</h1>
<div class="buttonsList">
  <button mat-raised-button routerLink="/question" class="buttons">
    Option A
    <span></span> <span></span> <span></span> <span></span>
  </button>

  <button mat-raised-button routerLink="/question" class="buttons">
    Option B
    <span></span> <span></span> <span></span> <span></span>
  </button>
  <button mat-raised-button routerLink="/question" class="buttons">
    Option C
    <span></span> <span></span> <span></span> <span></span>
  </button>
  <button mat-raised-button routerLink="/question" class="buttons">
    Option D
    <span></span> <span></span> <span></span> <span></span>
  </button>
  <button mat-raised-button routerLink="/question" class="buttons out">
    <mat-icon>close</mat-icon>
  </button>
</div>
